ul{
    list-style: none;
    display: flex;
    
}
ul li{
    padding: 0 2em .5em;
    color: aliceblue;
    font: bold 2em sans-serif;
}
body{
    background-color: black;
}
ul li:hover{
 color: rgb(250, 245, 245);
 transition: 1s;
 cursor: pointer;
 background-color: rgb(43, 0, 255);
 border-radius: 20px ;
}
.NAV{
    background-color: rgb(255, 0, 0);
    position: fixed;
    border-radius: 26px;
    width: 700px;
}
.NAV:hover{
    transform: scale(1.5);
    transition: 2s;
}